/*||||||||||||||||||||CSS STYLE RESET||||||||||||||||||||*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    user-select: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
* {
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
}
html{
    background-color: #27292d;
}
h1{
    font-family: 'Roboto Slab', serif;
    font-size: 7vw;
    text-align: left;
    background-color: #3F51B5;
    color: white;
    padding: 4vw 0 4vw 4vw;
    position: relative;
    width: 100%;
}
h2{
    padding-bottom: 1vw;
    font-size: 3vw;
    text-align: center;
    margin-left: -15vw;
    width: 100vw;
}
li.order{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    padding: 2vw 15vw;
    display: table;
    width: 100vw;
    border-bottom: solid 2px rgba(0, 0, 0, 0.3);
}
li.order:last-of-type {
    border: none;
    margin-bottom: 7vw;
}
li.pizza{
    margin-bottom: 1vw;
    margin-left: 10vw;
}
ul.pizzas{
    float: left;
}
.total{
    font-weight: bold;
    font-size: 2vw;
}
ul.userDetails li{
    margin-bottom: 1vw;
}
ul.userDetails{
    padding-left: 42vw;
}
img{
    width: 5vw;
    float: right;
    margin-right: 20vw;
    margin-top: -12vw;
    cursor: pointer;
}
li{
    font-size: 1.85vw;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vw;
    background-color: rgb(73, 73, 73);
    box-shadow: 0 0 15px;
}
footer button{
    margin-top: 1.5vw;
    width: 20vw;
    height: 4vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
footer button:first-of-type{
    margin-left: 27.5vw;
    margin-right: 5vw;
    background-color: rgb(63, 81, 181);
    color: #fff;
}

/*|||||||||||||||||||||||||||Popup||||||||||||||||||||||||||||*/

.popup {
    width: 100%;
    height: 100%; 
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popupContent {
    background-color: #fefefe;
    position: relative;
    margin: 0 auto;
    padding: 2vw;
    margin-top: -300px;
    opacity: 0;
    border: 1px solid #888;
    width: 80vw;
    height: 9vw;
}

.exit {
    color: #aaa;
    float: right;
    font-size: 4vw;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top: -2vw;
    right: -1vw;
}

.exit:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cancelScreen h2{
    font-family: 'Roboto Slab', serif;
    font-size: 3.5vw;
    margin-bottom: 1.75vw;
    padding-left: 10vw;
}
.cancelScreen button:first-of-type {
    margin-left: 30vw;
    margin-right: 2vw;
}
.cancelScreen button{
    width: 8vw;
    height: 3vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}